.navbar_top {
  height: 66px;
  background: rgb(11, 11, 11);
  .container {
    position: relative;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .navbar_text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    padding-top: 5px;
  }
  .navbar_text button {
    width: 147px;
    height: 46px;
    border-radius: 30px;
    border: 0;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
  }
  .flex_nav {
    display: flex;
    padding-top: 5px;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  .menu {
    display: none;
    border: 0;
    font-size: 40px;
    background: transparent;
    cursor: pointer;
    text-align: left;
    padding-top: 15px;
    color: white !important;
    z-index: 100;
  }
}

@media (max-width: 1200px) {
  .navbar_top .menu {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar_top .flex_nav {
    padding-left: 20px;
    padding-top: 1px;
  }
  .navbar_text {
    position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
    background: rgb(11, 11, 11);
    padding: 30px 0;
    box-shadow: 0 3px 5px #0002;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    transform-origin: top;
    transform: scaleY(0);
    z-index: 10;
  }

  .navbar_text.show {
    transform: scaleY(1);
  }
}
